Set Creation

In [4]:
set1 = {"apple", "Mango", "Strawberry"}
set2 = set(("apple", "Mango", "Strawberry", "apple"))

print(set1)
print(set2)

#duplicates are not allowed and if entered then would be ignored
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

thisset = {"apple", "banana", "cherry", True, 1, 2} # true and 1 are considered same in the set so are ignored as well as false and 0
print(thisset)

{'Mango', 'Strawberry', 'apple'}
{'Mango', 'Strawberry', 'apple'}
{'banana', 'cherry', 'apple'}
{True, 2, 'cherry', 'banana', 'apple'}

set Access
- since it is unordered we can't access the set using index, only have to use for loop to access the items

In [5]:
if "apple" in set1:
    print("Apple is in the list")
else:
    print("Apple is not in the list")

Apple is in the list

Change set items
- set is unchangable, so we can't change the set, but we can add or remove items from the set

In [6]:
set1[0] = "Berries"

print(set1)

TypeError: 'set' object does not support item assignment

Add List Items
- add
- update

In [7]:
set1.add("Watermelons") # added anywhere in the set
print(set1)

set1.update(set2) #add the set2 to set1
print(set1)

fruits = ("grapes", "kiwi")

set1.update(fruits) # can update any iterables
print(set1)

{'Mango', 'Watermelons', 'Strawberry', 'apple'}
{'apple', 'Mango', 'Strawberry', 'Watermelons'}
{'apple', 'kiwi', 'grapes', 'Mango', 'Strawberry', 'Watermelons'}

Remove List Items
- remove (using the item, if the item doesn't exits then it will raise an  error)
- discard (using the item, if the item doesn't exist then it will not raise an error)
- pop (will delete any random item)
- clear ( clear the set)
- del (delete entire the set)

In [9]:
thisset = {"apple", "banana", "cherry", "banana", "kiwi"}
thisset.remove("banana")
print(thisset)

# thisset.remove("banana")
# print(thisset)

thisset.discard("apple")
print(thisset)

thisset.discard("apple")
print(thisset)

thisset.pop()
print(thisset)

thisset.clear()

thisset = ["apple", "banana", "cherry"]
del thisset

{'kiwi', 'cherry', 'apple'}
{'kiwi', 'cherry'}
{'kiwi', 'cherry'}
{'cherry'}

Join Sets
There are several ways to join two or more sets in Python.

- | or union() and update() methods joins all items from both sets.

- intersection() method keeps ONLY the duplicates.

- difference() method keeps the items from the first set that are not in the other set(s).

- symmetric_difference() method keeps all items EXCEPT the duplicates.

In [21]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

# ++++++++++++ UNION ++++++++++++++++++++++++
set3 = set1.union(set2) # can join even other data structures
print(set3)
set4 = set1 | set2
print(set4)
set5 = set1.union(set2, set3)
print(set5)
set6 = set1 | set2 | set3
print(set6)
set1.update(set2) # update doesn't return a new set
print(set1) 

#+++++++++ INTERSECTION +++++++++++++++
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)
set4 = set1 & set2
print(set4)
set1.intersection_update(set2) #will also include only intersect items but will update the original set rather than giving a new set all together
print(set1)


# +++++++++++++ DIFFERENCE +++++++++++++++++
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)
set4 = set1 - set2
print(set4)
set1.difference_update(set2)
print(set1)


# ++++++++++++++++ SYMMETRIC DIFFERENCE ++++++++++++++++
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)
set4 = set1 ^ set2
print(set4)
set1.symmetric_difference_update(set2)
print(set1)

{'c', 1, 2, 'b', 3, 'a'}
{'c', 1, 2, 'b', 3, 'a'}
{1, 2, 3, 'a', 'c', 'b'}
{1, 2, 3, 'a', 'c', 'b'}
{'c', 1, 2, 'b', 3, 'a'}
{'apple'}
{'apple'}
{'apple'}
{'cherry', 'banana'}
{'cherry', 'banana'}
{'banana', 'cherry'}
{'microsoft', 'cherry', 'banana', 'google'}
{'microsoft', 'cherry', 'banana', 'google'}
{'google', 'banana', 'cherry', 'microsoft'}